<?xml version="1.0" encoding="UTF-8"?>


<tests>
    <!-- Chaque test est décrit par un élément <test>
        Cet élément contient un élément <xml> indiquant la source
        un élément <xslt> indiquant une feuille et un élément
        <constraints> qui indique les contraintes en schematron
      -->
<!--    <test>
        <xml>src/test/java/modele.xml</xml>
        <xslt>src/main/resources/rsrc/xslt/lecture.xsl</xslt>
        <constraints>src/test/resources/xmlunit/contraintes.xml</constraints>
    </test>
    <test>
        <xml>src/test/java/modele2.xml</xml>
        <xslt>src/main/resources/rsrc/xslt/lecture.xsl</xslt>
        <constraints>src/test/resources/xmlunit/contraintes2.xml</constraints>
    </test>-->
    <test>
        <xml>../../test-ete.xml</xml>
        <xslt>src/main/resources/rsrc/xslt/lecture.xsl</xslt>
        <constraints>src/test/resources/xmlunit/contraintes2.xml</constraints>
    </test>
</tests>

